This notebook is a sample code with Japanese comments.

# 2.8 三人寄れば文殊の知恵！　アンサンブルを体験しよう

In [1]:
ls ../input/submit-files

README.md                        submission_lightgbm_skfold.csv
submission_lightgbm_holdout.csv  submission_randomforest.csv

In [2]:
import pandas as pd


sub_lgbm_sk = pd.read_csv('../input/submit-files/submission_lightgbm_skfold.csv')
sub_lgbm_ho = pd.read_csv('../input/submit-files/submission_lightgbm_holdout.csv')
sub_rf = pd.read_csv('../input/submit-files/submission_randomforest.csv')

In [3]:
sub_lgbm_sk.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [4]:
df = pd.DataFrame({'sub_lgbm_sk': sub_lgbm_sk['Survived'].values,
                                   'sub_lgbm_ho': sub_lgbm_ho['Survived'].values,
                                   'sub_rf': sub_rf['Survived'].values})
df.head()

   sub_lgbm_sk  sub_lgbm_ho  sub_rf
0            0            0       0
1            0            0       1
2            0            0       0
3            0            0       0
4            0            0       1

In [5]:
df.corr()

             sub_lgbm_sk  sub_lgbm_ho    sub_rf
sub_lgbm_sk     1.000000     0.883077  0.796033
sub_lgbm_ho     0.883077     1.000000  0.731329
sub_rf          0.796033     0.731329  1.000000

In [6]:
sub = pd.read_csv('../input/titanic/gender_submission.csv')
sub['Survived'] = sub_lgbm_sk['Survived'] + sub_lgbm_ho['Survived'] + sub_rf['Survived']
sub.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [7]:
sub['Survived'] = (sub['Survived'] >= 2).astype(int)
sub.to_csv('submission_lightgbm_ensemble.csv', index=False)
sub.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0